<template name="Header">
    <div class="ui top fixed borderless inverted menu">
  <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Welcome to Campus Jam</h1></a>
      <a class="right item">
        <div class="ui right input">
          <input type="text" placeholder="Username">
          <input type="text" placeholder="Password">
        </div>
        <button class="ui inverted button">Log In</button>
        <a href="{{pathFor 'Terms_Page'}}">Terms</a>
      </a>
    </div>
  </div>
</template>